# Project related folders to ignore
assets/*
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class

# Environments
.env
.venv/
.python-version
poetry.lock

# Twitter keys
config/keys.json

# Exported models
weights/
